h1 {
	text-align: center;
	font-family: "Times New Roman";
	border-style: dashed;
}

.def {
	font-weight: bold;
}

.sq {
	list-style: square;
	font-family: "Comic Sans MS";
}

p {
	font-family: "Comic Sans MS";
}

body {
	color: white;
	background-color: black;
}